{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
{% image self.blog_image fill-1200x300 as banner %}
这是子
<img src="{{ banner.url }}" alt="{{ banner.alt }}" style="width: 100%;">
<div class="container mt-5 mb-5">
    <div class="text-center">
        <h1>{{self.custom_title}}</h1>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="co-sm-8">
            <a href="{{post.url}}">
                {{post.custom_title}}
            </a>
        </div>
    </div>

</div>



{% endblock %}